.Header {
  float: right;
  text-align: center;
  min-width: 1000px;
}

.heading {
  display: flex;
}

.my-class {
  text-align: right;
  min-width: 1000px;
}
/*

#div1 {
  padding: 10px;
  margin: 0px 35px;
  float: left;
  border: 1px solid #aaaaaa;
  background-color: rgb(244 245 247/var(--tw-bg-opacity));
  width: 220px;
  height: 480px;
  top: auto;
  bottom: 40px;
  left: 30px;
}
#div2 {
  padding: 10px;
  margin: 0px 35px;
  float: left;
  border: 1px solid #aaaaaa;
  background-color: rgb(244 245 247/var(--tw-bg-opacity));
  width: 220px;
  height: 480px;
  top: auto;
  bottom: 40px;
  left: 30px;
}
#div3 {
  padding: 10px;
  float: left;
  margin: 0px 35px;
  border: 1px solid #aaaaaa;
  background-color: rgb(244 245 247/var(--tw-bg-opacity));
  width: 220px;
  height: 480px;
  top: auto;
  bottom: 40px;
  left: 30px;
}
#div4 {
  padding: 10px;
  float: left;
  margin: 0px 35px;
  border: 1px solid #aaaaaa;
  background-color: rgb(244 245 247/var(--tw-bg-opacity));
  width: 220px;
  height: 480px;
  top: auto;
  bottom: 40px;
  left: 30px;
} */

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-width: 0;
  min-height: 0;
  background: rgba(gray, 0.5);
}
.board-bar {
  background: rgba(gray, 0.5);
  padding: 8px 15px;
}

.board-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.board-wrapper {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
  background: rgba(black, 1);
}

.board-columns {
  display: flex;
  flex-grow: 1;
  background: rgba(black, 1);
  padding: 10px;
}

.board-column {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  min-width: 230px;
  margin: 20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #aaaaaa;
  background: rgba(black, 1);
}

.column-title {
  font-size: 20px;
  font-weight: 800;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  background: rgba(black, 1);
}

.tasks-container {
  flex-grow: 1;
  overflow-y: auto;
}

.task {
  display: block;
  text-align: left;
  padding: 15px 12px;
  background: white;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;

  margin-bottom: 15px;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
    0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
