<div class="root">
  <div class="heading">
    <h1 class="Header">Jira Board</h1>
  </div>
  <div class="my-class font-italic">
    <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off" (click)="onAdd()">Add
      List</button>
    <div *ngIf="addNewBox">
      <input type="text" [(ngModel)]="statusText">
      <button type="button" class="btn btn-primary" (click)="addStatus()">Add</button>
    </div>
    <button type="button" class="btn btn-primary" (click)="onSave()">save</button>

    <div class="board">
      <div class="board-bar">
        <p class="board-name">{{ dynamicBoard?.name }}</p>
      </div>
      <div class="board-wrapper">
        <div class="board-columns" cdkDropListGroup>
          <div class="board-column" *ngFor="let column of dynamicBoard?.columns ; let i=index">

            <div class="column-title">
              {{ column.name }}
              <hr>
            </div>

            <div class="tasks-container" cdkDropList [cdkDropListData]="column.tasks"
              (cdkDropListDropped)="drop($event)">
              <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                <div>Name</div>
                {{ item.name }}
                <div>Descrption</div>
                {{ item.description }}
              </div>
            </div>
            <div *ngIf="addNewTask && activeColumnIndex==i">
              <label>Name</label>
              <input type="text" [(ngModel)]="taskName">
              <label>Description</label>
              <input type="text" [(ngModel)]="taskDesc">
              <button type="button" class="btn btn-primary" (click)="onCreateTask(column)">Add New task</button>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off"
              (click)="addTaskName(i)">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
